@model InDaBox.Models.ProductoLocacionVM

@{
    ViewData["Title"] = "Index";
}

@section navBtn {
    <a class="nav-link text-white"  asp-controller="Home" asp-action="Index">Inicio</a>
    <a class="nav-link text-white" asp-controller="Almacenes" asp-action="Index">Almacenes</a>
}
@section SideMenu {
    <ul class="menu">
        <ul class="guardados">
            <li><a class="anclaLateral" href="#">Item 1 </a></li>
            <li><a class="anclaLateral" href="#">Item 2 </a></li>
            <li><a class="anclaLateral" href="#">Item 3 </a></li>
            <li><a class="anclaLateral" href="#">Item 4 </a></li>
            <li><a class="anclaLateral" href="#">Item 5 </a></li>
            <li><a class="anclaLateral" href="#">Item 6 </a></li>
            <li><a class="anclaLateral" href="#">Item 7 </a></li>
            <li><a class="anclaLateral" href="#">Item 8 </a></li>
            <li><a class="anclaLateral" href="#">Item 9 </a></li>
            <li><a class="anclaLateral" href="#">Item 10 </a></li>
        </ul>
    </ul>
    <p class="createNew">
        <a asp-action="Create" class="anclaLateral"><i class="icono anclaLateral fas fa-plus"></i>Añadir producto</a>
    </p>
}

<div class="titulo">
    <h1>Productos</h1>
</div>
<div class="row"  id="pictorow">
    <div class="col-1 ">
    </div>
    <div class="col-2 ">
        <img class="pictogramas" src="~/img/battery.svg" />
    </div>
    <div class="col-2 ">
        <img class="pictogramas" src="~/img/cd.svg" />
    </div>
    <div class="col-2 ">
        <img class="pictogramas" src="~/img/chip.svg" />
    </div>
    <div class="col-2">
        <img class="pictogramas" src="~/img/drone.svg" />
    </div>
    <div class="col-2 ">
        <img class="pictogramas" src="~/img/processor.svg" />
    </div>
    <div class="col-1">

    </div>
</div>

<div class="row productosMuestra">
    @foreach (Producto producto in Model.Productos)
    {
        <div class="col-3 pb-4">
            <div class="card">
                <img class="card-img-top" src=@Url.Content(producto.Imagen)>
                <div class="card-body">
                    <h4 class="card-title datosProducto@(+producto.Id)-Nombre">@producto.Nombre</h4>
                    <p hidden class="datosProducto@(+producto.Id)-Descripcion">@producto.Descripcion</p>
                    <p hidden class="datosProducto@(+producto.Id)-Imagen">@producto.Imagen</p>
                    <p hidden class="datosProducto@(+producto.Id)-Caducidad">@producto.Caducidad</p>
                    <p hidden class="datosProducto@(+producto.Id)-Cantidad">@producto.Cantidad</p>
                    @if (producto.Localizaciones.Count != 0)
                    {
                        @foreach (Localizacion localizacion in producto.Localizaciones)
                        {
                            <h4 class="card-title datosProducto@(+producto.Id)-Localizacion" value="@localizacion.FilaId">@localizacion.Fila.Nombre</h4>
                        }
                    }
                    else
                    {
                        <a class="btn BotonInsertarLocalizacion" id="@producto.Id" data-toggle="modal" data-target="#insertLocation">Insertar Localizacion</a>
                    }
                </div>
                <div>
                    <!-- Button trigger modal -->
                    <a class="btn BotonEditar" id="@producto.Id" data-toggle="modal" data-target="#edit">Editar</a>
                    <a class="btn BotonBorrar" id="@producto.Id" data-toggle="modal" data-target="#delete">Borrar</a>
                    <a class="btn BotonBorrarLocalizacion" id="@producto.Id" data-toggle="modal" data-target="#deleteLocation">Borrar Localizacion</a>

                </div>
            </div>
        </div>
    }
</div>

<!-- Modals -->
<!-- Modal edit -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/Productos/Edit/" id="borrarForm" method="post" novalidate="novalidate">
                <div class="modal-body">
                    @*content*@


                    <input type="hidden" data-val="true" data-val-required="The Id field is required." id="Id" name="Id" value=" ">
                    <div class="form-group">
                        <label class="control-label" for="Nombre">Nombre</label>
                        <input class="form-control valid" type="text" data-val="true" data-val-maxlength="The field Nombre must be a string or array type with a maximum length of '20'." data-val-maxlength-max="20" data-val-required="The Nombre field is required." id="Nombre" maxlength="20" name="Nombre" value="" aria-describedby="Nombre-error" aria-invalid="false">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Nombre" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Descripcion">Descripción</label>
                        <input class="form-control valid" type="text" data-val="true" data-val-maxlength="The field Descripcion must be a string or array type with a maximum length of '1000'." data-val-maxlength-max="1000" id="Descripcion" maxlength="1000" name="Descripcion" value="" aria-describedby="Descripcion-error" aria-invalid="false">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Descripcion" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Imagen">Imagen</label>
                        <input class="form-control" type="text" id="Imagen" name="Imagen" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Imagen" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Caducidad">Caducidad</label>
                        <input class="form-control" type="datetime-local" id="Caducidad" name="Caducidad" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Caducidad" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Cantidad">Cantidad</label>
                        <input class="form-control" type="number" data-val="true" data-val-required="The Cantidad field is required." id="Cantidad" name="Cantidad" value="">
                        <span class="text-danger field-validation-valid" data-valmsg-for="Cantidad" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="localizacion.FilaId" class="control-label">Fila</label>
                        <select id="locationEditField" asp-for="localizacion.FilaId" class="form-control" name="localizacionId" asp-items="ViewBag.FilaId"></select>
                        <span asp-validation-for="localizacion.FilaId" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" data-val="true" data-val-required="The Borrado field is required." id="Borrado" name="Borrado" value=""> Borrado
                        </label>
                    </div>
                    @Html.AntiForgeryToken()

                    @*contenido*@

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary Cerrar" data-dismiss="modal">Cerrar</button>
                        <button type="submit" value="Guardar" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta seguro de que desea eliminar este producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <form asp-action="Delete">
                    <input type="hidden" id="modalBorrarInput" name="id" value=" " />|
                    <input type="submit" value="Borrar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal insert location -->
<div class="modal fade" id="insertLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insertar localizacion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Localizaciones" asp-action="Create">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input hidden id="productoId" asp-for="localizacion.ProductoId" value="" />
                        <h4 id="mostrarProducto"></h4>
                    </div>
                    <div class="form-group">
                        <label asp-for="localizacion.FilaId" class="control-label">Fila</label>
                        <select asp-for="localizacion.FilaId" class="form-control" asp-items="ViewBag.FilaId"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary Cerrar" data-dismiss="modal">Cerrar</button>
                        <button type="submit" value="Crear" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal borrar localizacion-->
<div class="modal fade" id="deleteLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta seguro de que desea eliminar esta localizacion?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <form asp-controller="Localizaciones" asp-action="Delete">
                    <input type="hidden" data-val="true" id="modalBorrarLocalizacionInput" data-val-required="The Id field is required." name="Id" value="">
                    <input type="submit" value="Eliminar" class="btn btn-danger"> |
                </form>
            </div>
        </div>
    </div>
</div>