<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InDaBox</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Formulario.css">
    <link rel="stylesheet" href="~/css/menuLateral.css" />
</head>
<body>
    <main role="main">
        <div class="row">
            <header class="container-menu sticky-top">

                <div class="col-2">
                    <img class="logo" src="~/img/Recurso 3logo.svg" />
                </div>

                <h1 class="btn-almacen">
                    @RenderSection("navBtn", required: false)
                </h1>

                <form asp-controller="Productos" asp-action="Index" method="post">
                    <div class="col-10 m-auto">
                        <div class="input-group">
                            <input type="text" class="form-control" name="busqueda">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" style="color:white">Buscar</button>
                            </span>
                        </div>
                    </div>
                </form>
                <hr class="hrLayout" />
                @RenderSection("SideMenu", required: false)

                <div class="row">
                    <div class="col-4">
                        <form class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link text-white btn btn-link left_colour">Cerrar Sesión</button>
                        </form>
                    </div>

                    <div class="col-3 offset-5" id="privacy">
                        <div class="nav-item">
                            <a class="nav-link text-white" id="homeColor" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                    </div>

                </div>


            </header>

            <div class="col">
                @RenderBody()
            </div>
        </div>
    </main>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
