@model InDaBox.Models.Almacen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Almacen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoPostal" class="control-label"></label>
                <input asp-for="CodigoPostal" class="form-control" />
                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poblacion" class="control-label"></label>
                <input asp-for="Poblacion" class="form-control" />
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div>
            <div id="anadirForm" class="d-none">
                <div class="flecha">
                    <h1>Pasillo</h1> <!--icono-->
                    <hr>
                </div>
                <div>
                    <label for="numeroDePasillo" class="control-label">Numero de pasillos</label>
                    <input id="numeroDePasillo" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre de pasillo</label> <!-- cuidado no es nombre de almacen -->
                    <input class="form-control" id="nombrePasillo" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div id="insertarPasillo"></div>
                </div>
                <div id="nuevoPasillo"></div>
            </div>

            <div id="container">
                <button class="Anadir">Añadir Pasillo</button>
                @{
                    foreach (Pasillo pasillo in Model.Pasillos)
                    {
                        <div class="pasillo" id="@pasillo.Id">
                            @{
                                <br />
                                <button id="@pasillo.Id" class="Borrar">Borrar Pasillo</button>
                                <div class="form-group">
                                    <label asp-for="@pasillo.Nombre" class="control-label">Pasillo</label>
                                    <input asp-for="@pasillo.Nombre" value="@pasillo.Nombre" class="form-control" />
                                    <span asp-validation-for="@pasillo.Nombre" class="text-danger"></span>
                                </div>

                                @foreach(Seccion seccion in pasillo.Secciones)
                                {
                                    <div class="form-group">
                                        <label asp-for="@seccion.Nombre" class="control-label">Seccion</label>
                                        <input asp-for="@seccion.Nombre" class="form-control" />
                                        <span asp-validation-for="@seccion.Nombre" class="text-danger"></span>
                                    </div>

                                    @foreach(Columna columna in seccion.Columnas)
                                    {
                                        <div class="form-group">
                                            <label asp-for="@columna.Nombre" class="control-label">Columna</label>
                                            <input asp-for="@columna.Nombre" class="form-control" />
                                            <span asp-validation-for="@columna.Nombre" class="text-danger"></span>
                                        </div>
                                        @foreach(Fila fila in columna.Filas)
                                        {
                                            <div class="form-group">
                                                <label asp-for="@fila.Nombre" class="control-label">Fila</label>
                                                <input asp-for="@fila.Nombre" class="form-control" />
                                                <span asp-validation-for="@fila.Nombre" class="text-danger"></span>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    }
                }
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
